/* ************************************************************************************** */
/*                                                                                        */																					  
/* Project: Headphones                                  / $$      /$$ /$$$$$$$$ /$$$$$$   */
/*                  			                        | $$  /$ | $$| $$_____//$$__  $$  */
/* style.css                                     	    | $$ /$$$| $$| $$     |__/  \ $$  */
/*                                                  	| $$/$$ $$ $$| $$$$$     /$$$$$/  */
/* By: vcastell <valeriocastellipro@gmail.com>	        | $$$$_  $$$$| $$__/    |___  $$  */
/*                                              		| $$$/ \  $$$| $$      /$$  \ $$  */
/* Created: 2022/01/13 09:33:01 vcastell     	        | $$/   \  $$| $$     |  $$$$$$/  */
/* Updated: 2022/01/15 18:01:31 vcastell                |__/     \__/|__/      \______/   */
/*                                                                    				      */
/******************************************************************************************/

/* IMPORTATIONS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
	
	--black: #090c13;
	--shadow: rgba(9, 12, 19, 0.15);
	--overlay: rgba(9, 12, 19, 0.55);
	--white: #ffffff;
	--orange: #fe696a;
	--orange-500: #ff4243;
	--gray-200: #f3f5f9;
	--gray-300: #e6e6e6;
	--gray-500: #7e879c;
	--gray-700: #372f50;
	--gray-800: #2b3445;
	--pink: #e8c4c0;
	--yellow: #f7e6d5;
	
}

body{
	font-size: 1.6rem;
	margin: 0;
}

i{
	font-style: normal;
}

.container{
	width: 70%;
	margin: auto;
}

/* ## Classes réutilisables */

.btn-red{
	background-color: var(--orange);
	color: var(--white);
	border-radius: 10px;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
}

.reduce-size{
	font-size: 1.5rem;
}

/* ### HEADER ### */

/* BARRE DE NAVIGATION */

#title{
	display: block;
	color: var(--gray-800);
	font-weight: 400;
	font-size: 3rem;
	text-decoration: none;
	align-self: center;
}

header{
	background-color: var(--gray-200);
	justify-content: space-between;
}

header .nav-bar{
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

header .nav-bar ul{
	display: flex;
	flex-direction: row;
	gap: 25px;
}

header .nav-bar ul li{
	list-style: none;
}

header .nav-bar ul li a,
header .nav-bar-account ul li a{
	text-decoration: none;
	color: var(--gray-800);
	font-size: 1.7rem;
	font-weight: 400;
}

header .nav-bar-account ul{
	display: flex;
	gap: 35px;
}

header .nav-bar-account ul li{
	list-style: none;
}

/* PARTIE DU PRODUIT */

header .product{
	background-image: url("./images/bg-header.jpg");
	height: 75vh;
	color: var(--white);
	padding: 20px;

}

/* Titre */

header .product .title{
	padding-right: 75%;
}

header .product .title h1{
	font-size: 1.7rem;
	font-weight: 600;
}

header .product .title h2{
	font-size: 3rem;
	font-weight: 600;
}

/* Prix */

header .product .shop{
	display: flex;
	align-items: center;
	gap: 50px;
}

header .product .shop p{
	font-weight: bold;
	font-size: 2.5rem;
}

/* class du bouton en haut  */

/* Caractéristiques */

header .product .desc{
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.center{
	padding: 9%;
}