/* ************************************************************************************** */
/*                                                                                        */																					  
/* Project: Headphones                                  / $$      /$$ /$$$$$$$$ /$$$$$$   */
/*                  			                        | $$  /$ | $$| $$_____//$$__  $$  */
/* style.css                                     	    | $$ /$$$| $$| $$     |__/  \ $$  */
/*                                                  	| $$/$$ $$ $$| $$$$$     /$$$$$/  */
/* By: vcastell <valeriocastellipro@gmail.com>	        | $$$$_  $$$$| $$__/    |___  $$  */
/*                                              		| $$$/ \  $$$| $$      /$$  \ $$  */
/* Created: 2022/01/13 09:33:01 vcastell     	        | $$/   \  $$| $$     |  $$$$$$/  */
/* Updated: 2022/01/23 15:55:42 vcastell                |__/     \__/|__/      \______/   */
/*                                                                    				      */
/******************************************************************************************/

/* IMPORTATIONS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
	
	--black: #090c13;
	--shadow: rgba(9, 12, 19, 0.15);
	--overlay: rgba(9, 12, 19, 0.55);
	--white: #ffffff;
	--orange: #fe696a;
	--orange-500: #ff4243;
	--gray-200: #f3f5f9;
	--gray-300: #e6e6e6;
	--gray-500: #7e879c;
	--gray-700: #372f50;
	--gray-800: #2b3445;
	--pink: #e8c4c0;
	--yellow: #f7e6d5;
	
}

body{
	font-size: 1.6rem;
	margin: 0;
}

i{
	font-style: normal;
}

.container{
	width: 70%;
	margin: auto;
}

/* ## Classes réutilisables */

.btn-red{
	background-color: var(--orange);
	color: var(--white);
	border-radius: 10px;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	transition: 350ms;
}

.btn-red:hover{
	background-color: var(--orange-500);
}

.reduce-size{
	font-size: 1.5rem;
}

/* ### HEADER ### */

/* BARRE DE NAVIGATION */

#title{
	display: block;
	color: var(--gray-800);
	font-weight: 400;
	font-size: 3rem;
	text-decoration: none;
	align-self: center;
}

header{
	background-color: var(--gray-200);
	justify-content: space-between;
}

header .nav-bar{
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

header .nav-bar ul{
	display: flex;
	flex-direction: row;
	gap: 25px;
}

header .nav-bar ul li{
	list-style: none;
}

header .nav-bar ul li a,
header .nav-bar-account ul li a{
	text-decoration: none;
	color: var(--gray-800);
	font-size: 1.7rem;
	font-weight: 400;
	transition: 350ms;
}

header .nav-bar-account ul{
	display: flex;
	gap: 35px;
}

header .nav-bar-account ul li a{
	font-size: 2rem;
	list-style: none;
}

header .nav-bar ul li a:hover, 
header .nav-bar-account ul li a:hover{
	color: var(--orange-500);
}

/* PARTIE DU PRODUIT */

header .product{
	background-image: url("./images/bg-header.jpg");
	height: 75vh;
	color: var(--white);
	padding: 20px;

}

/* Titre */

header .product .title{
	padding-right: 75%;
}

header .product .title h1{
	font-size: 1.7rem;
	font-weight: 600;
}

header .product .title h2{
	font-size: 3rem;
	font-weight: 600;
}

/* Prix */

header .product .shop{
	display: flex;
	align-items: center;
	gap: 50px;
}

header .product .shop p{
	font-weight: bold;
	font-size: 2.5rem;
}

/* class du bouton en haut  */

/* Caractéristiques */

header .product .desc{
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.center{
	padding: 9%;
	width: 65%;
}

/* ### BODY ### */

main .choose-style{
	padding: 40px 0;
	color: var(--gray-800);
}

main .choose-style .container{
	display: flex;
	justify-content: space-evenly;
}

main .choose-style .select{
	align-self: center;
}

main .choose-style .select h2{
	font-weight: 600;
}

main .choose-style .title {
	display: flex;
	gap: 20px;
}

main .choose-style .colors {
	padding: 10px 0 40px 0;
	display: flex;
	gap: 10px;
}

main .choose-style .colors div{
	padding: 3px;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	border: 1px solid var(--gray-500);
	cursor: pointer;
}

main .choose-style .colors div:hover, 
main .choose-style .colors .active{
	border-color: var(--orange-500);
}

main .choose-style .colors img{
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

main .choose-style .colors div span{
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.bg-pink{
	background-color: var(--pink);
}

.bg-gray{
	background-color: var(--gray-500);
}

.bg-yellow{
	background-color: var(--yellow);
}

.separator{
	border-bottom: 1px solid var(--gray-500);
	margin-bottom: 125px;
}

/* GALERIE PHOTOS */

.gallery{
	text-align: center;
	padding-bottom: 30px;
}

.gallery h2{
	color: var(--gray-800);
	font-weight: 500;
	font-size: 3rem;
}

.gallery .grid{
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	gap: 20px;
	justify-items: center;
}

.gallery .grid a{
	position: relative;
}

.gallery .grid a img{
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

.gallery .grid a .overlay{
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 22px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	border-radius: 10px;
	background-color: var(--overlay);
	transition: 350ms;
	color: var(--white);
}

.gallery .grid a .overlay:hover{
	opacity: 1;
}

/* CARACTERISTIQUES TECH */

.product-detail{
	color: var(--gray-800);
	padding-bottom: 100px;
}

.product-detail h2{
	font-weight: 500;
	font-size: 3rem;
	text-align: center;
}

.product-detail h3{
	font-weight: 300;
}

.desc{
	display: flex;
	justify-content: center;
	gap: 100px;
}

.desc .left-side{
	width: 50%;
}

.desc .right-side div{
	padding: 10px 0;
}

/* REVIEWS */

.customers{
	background-color: var(--gray-200);
	padding: 70px 0 100px 0;
}

.customers h2{
	color: var(--gray-800);
	font-weight: 500;
	font-size: 3rem;
	text-align: center;
}

.cards{
	display: flex;
	gap: 20px;
}

.card > p{
	background-color: var(--white);
	color: var(--gray-500);
	font-size: 1.5rem;
	font-weight: 300;
	border-radius: 6px;
	box-shadow: 0 3px 3px rgba(9, 12, 19, 0.15);
	padding: 23px;
	line-height: 1.5rem;
	margin-bottom: 2rem;
}

.card .profile{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	line-height: 0.75rem;
}

.card .profile .name p:first-child{
	font-weight: bold;
}

.card .profile img{
	width: 20%;
	height: 20%;
	border-radius: 50%;
}

/* ### FOOTER ###  */

footer{
	padding: 100px 0;
	background-color: var(--gray-800);
}

footer nav{
	display: flex;
	justify-content: left;
	gap: 100px;
}

.navbar h3{
	font-weight: bold;
	color: var(--white);
}

.navbar ul{
	list-style: none;
	padding: 0;
}


.navbar ul li a{
	font-size: 1.3rem;
	text-decoration: none;
	color: var(--gray-500);
	text-align: left;
	line-height: 3.5rem;
	transition: 350ms;
}

.navbar ul li a:hover{
	color: var(--white);
}